<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Tenant Portal</title>
</head>
<body>
<h1>Make maintenance request</h1>
<form th:action="@{/request/create}" method="post">
  <label for="description">Description</label>
  <input type="text" id="description" name="description" th:value="${description}">
  <label for="problemArea">Problem Area</label>
  <input type="text" id="problemArea" name="problemArea" th:value="${problemArea}">
  <button type="submit">Submit</button>
</form>
</body>
</html>